div {
    height: 200px;
    width: 690px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
img {
    height: 200px;
}
.first {
    background-color: aqua;
}
.second {
    background-color: burlywood;
}
.third {
    background-color: greenyellow;
}